<div class = 'header'></div>
<div class = 'popup' ></div>
<div class = 'page'>
	<div class = 'column right'></div>
	<div class = 'column left top'></div>
	<div class = 'column left bottom'></div>
</div>

<script type = 'text/json' id = 'json'>
	{
		"current_user" : <%= current_user.to_json %>,
		"issues" : <%= Issue.all.to_json %>,
		"questions" : <%= Question.all.to_json %>,
		"sliders" : <%= Slider.all.to_json %>,
		"answers" : <%= Answer.all.to_json %>,
		"sources" : <%= Source.all.to_json %>,
		"challenges" : <%= Challenge.all.to_json %>,
		"tasks" : <%= Task.all.to_json %>,
		"users" : <%= User.all.to_json %>,
		"ranks" : <%= Rank.all.to_json %>,
		"achievables" : <%= Achievable.all.to_json %>,
		"user_achievables" : <%= UserAchievable.all.to_json %>,
		"page_metrics" : <%= PageMetric.all.to_json %>,
		"user_metrics" : <%= UserMetric.all.to_json %>
	}
</script>

<%= content_for :javascript do -%>
	<script type = 'text/javascript'>
		$(function() {
			var div, data;
			div = $('<div></div>');
			div.html($('#json').text());
			data = JSON.parse(div.text());
		
			Fauxble.initialize(data);
		});
	</script>
<% end %>