<div class = 'header'></div>
<div>
	<div id = 'tutorial'></div>
	<div id = 'background'></div>
</div>
<div class = 'popup' ></div>
<div class = 'test-container'>
	<div class = 'test'></div>
</div>
<div class = 'page'></div>
<div class = 'footer'>
	<div id = 'footer' class = 'wrapper'></div>
</div>

<%= image_tag "/assets/misc/slide1.png", :border => '0', :alt => nil, :class => 'hide' %>
<%= image_tag "/assets/misc/slide2.png", :border => '0', :alt => nil, :class => 'hide' %>
<%= image_tag "/assets/misc/infographic.png", :border => '0', :alt => nil, :class => 'hide' %>

<script type = 'text/json' id = 'json'>
	{
		"current_user" : <%= @current_user.to_json %>,
		"issues" : <%= @issues %>,
		"questions" : <%= @questions %>,
		"sliders" : <%= @sliders %>,
		"answers" : <%= @answers %>,
		"sources" : <%= @sources %>,
		"challenges" : <%= @challenges %>,
		"tasks" : <%= @tasks %>,
		"users" : <%= @users %>,
		"ranks" : <%= @ranks %>,
		"achievables" : <%= @achievables %>,
		"user_achievables" : <%= @user_achievables %>
	}
</script>

<%= content_for :javascript do -%>
	<script type = 'text/javascript'>
		$(function() {
			var div, data;
			div = $('<div></div>');
			div.html($('#json').text());
			data = JSON.parse(div.text());
		
			Fauxble.initialize(data);
		});
	</script>
<% end %>