<% if (left_aligned) { %>
	<div class = 'picture container'>
		<div class = 'picture wrapper'>
			<% if (user.get('uid')) { %>
				<img src = 'https://graph.facebook.com/<%= user.get('uid') %>/picture' />
			<% } else { %>
				<img src = 'http://s3.amazonaws.com/fusegap/misc/user.png' />
			<% } %>
		</div>
	</div>
	<div class = 'name container'>
		<div class = 'name'>
			<% if (user.get('name').split(' ').length > 1) { %>
			    <%= user.get('name').split(' ')[0] + " " + user.get('name').split(' ')[user.get('name').split(' ').length - 1].charAt(0) %>.
			<% } else { %>
			    <%= user.get('name').split(' ')[0] %>
			<% } %>
		</div>
	</div>
	<div id = 'rank' class = 'rank'></div>
	<div class = 'score container'>
		<div id = 'score' class = 'score'><%= score %></div>
	</div>
<% } else { %>
	<div class = 'score container'>
		<div id = 'score' class = 'score'><%= score %></div>
	</div>
	<div class = 'name container'>
		<div class = 'name'>
			<% if (user.get('name').split(' ').length > 1) { %>
			    <%= user.get('name').split(' ')[0] + " " + user.get('name').split(' ')[user.get('name').split(' ').length - 1].charAt(0) %>.
			<% } else { %>
			    <%= user.get('name').split(' ')[0] %>
			<% } %>
		</div>
	</div>
	<div id = 'rank' class = 'rank'></div>
	<div class = 'picture container'>
		<div class = 'picture wrapper'>
			<% if (user.get('uid')) { %>
				<img src = 'https://graph.facebook.com/<%= user.get('uid') %>/picture' />
			<% } else { %>
				<img src = 'http://s3.amazonaws.com/fusegap/misc/user.png' />
			<% } %>
		</div>
	</div>
<% } %>