<% if (left_aligned) { %>
	<div class = 'picture container'>
		<div class = 'picture wrapper'>
			<% if (user.get('uid')) { %>
				<img src = 'https://graph.facebook.com/<%= user.get('uid') %>/picture' />
			<% } else { %>
				<img src = 'assets/misc/user.png' />
			<% } %>
		</div>
	</div>
	<div class = 'name container'>
		<div class = 'name'><%= user.get('name') %></div>
	</div>
	<div id = 'rank' class = 'rank'></div>
	<div class = 'score container'>
		<div id = 'score' class = 'score'><%= score %></div>
	</div>
<% } else { %>
	<div class = 'score container'>
		<div id = 'score' class = 'score'><%= score %></div>
	</div>
	<div class = 'name container'>
		<div class = 'name'><%= user.get('name') %></div>
	</div>
	<div id = 'rank' class = 'rank'></div>
	<div class = 'picture container'>
		<div class = 'picture wrapper'>
			<% if (user.get('uid')) { %>
				<img src = 'https://graph.facebook.com/<%= user.get('uid') %>/picture' />
			<% } else { %>
				<img src = 'assets/misc/user.png' />
			<% } %>
		</div>
	</div>
<% } %>