<div class = 'input'>	
	<form id = 'form'>
		<% if (slider.get('units').indexOf('/') === 0) { %>
			<input type = 'text' id = 'input' />
			<span class = 'units'><%= slider.get('units').substring(1) %></span>
		<% } else { %>
			<span class = 'units'><%= slider.get('units').substring(0, slider.get('units').indexOf('/')) %></span>
			<input type = 'text' id = 'input' />
		<% } %>
	</form>
</div>
<div class = 'bounds min'>
	<div class = 'triangle left'></div>
	<div class = 'number'><%= nums.min %></div>
</div>
<div id = 'slider' class = 'slider bar'>
	<div id = 'highlight' class = 'slider fill'></div>
	<div id = 'user' class = 'slider users user'>
		<div id = 'logo' class = 'logo'>
			<img src = 'assets/logos/white_25.png' />
		</div>
		<div id = 'pic' class = 'picture container hide'>
			<div class = 'picture wrapper'>
				<% if (users.challenger.get('signed_in_fb')) { %>
					<img src = 'https://graph.facebook.com/<%= users.challenger.get('uid') %>/picture' />
				<% } else { %>
					<img src = 'assets/misc/user.png' />
				<% } %>
			</div>
		</div>
	</div>
	<div id = 'correct' class = 'slider correct-wrapper hide'>
		<div class = 'slider correct'>
			<div class = 'check'>&#x2713;</div>
			<div class = 'number'><%= nums.correct %></div>
		</div>
	</div>
</div>
<div class = 'bounds max'>
	<div class = 'triangle right'></div>
	<div class = 'number'><%= nums.max %></div>
</div>
<div class = 'submit'>
	<form id = 'form'>
		<input type = 'submit' value = 'Submit!' />
	</form>
</div>
<div id = 'after_submit' class = 'buttons hide'>
	<div id = 'source' class = 'button source'>Source</div>
	<div id = 'share'>SHARE</div>
	<div id = 'next' class = 'button next'>Next</div>
</div>