<div>Title: <%= issue.get('title') %></div>
<div>Description: <%= issue.get('description') %></div>
<div>
	<img src = 'assets/issues/<%= issue.get('image') %>.png' />
</div>
<div>Facts for this Issue: <%= facts %></div>
<div>Facts learned by Fusers <%= learned %></div>
<div>Active Fuser Count: <%= users %></div>
<div id = 'community'></div>